*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: "Kalam", serif;
}
img{
   max-width: 100%;
}
.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 5%;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.logo{
   width: 100px;
}
.site-nav{
   list-style-type: none;
   display: flex;
   gap: 20px;
}
.search-container{
   display: flex;
   padding: 15px 5%;
   gap: 20px;
   border-bottom: 1px solid #ECECEC;
}
.search{
   display: flex;
}
.site-btn{
   padding: 6px 15px;
   border: none;
   outline: none;
   background-color: green;
   color: #FFF;
   border-radius: 3px;
}
.res-container{
   display: flex;
   padding: 30px 5%;
   gap: 20px;
   flex-wrap: wrap;
}
.res-card{
   width: 180px;
   padding: 6px 6px 15px 6px;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
   border-radius: 3px;
}
.res-logo{
   width: 100%;
   height: 150px;
   object-fit: cover;
}